{erl_opts, [debug_info]}.
{deps, [
  {amqp_client, "3.7.12"}
]}.

{minimum_otp_vsn, "21.0"}.


{shell, [
  {config, "./config/sys.config"},
  {apps, [aliyun_amqp, amqp_client]}
]}.

{dist_node, [
    {name, 'aliyun_amqp@127.0.0.1'},
    {setcookie , 'aliyun_amqp-cookie'}
]}.


{relx, [{release, {aliyun_amqp, "0.1.2"},
         [aliyun_amqp, amqp_client]},

        {dev_mode, true},
        {include_erts, false},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {extended_start_script, true}
  ]
}.
